<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            Dashboard
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active"> 
            Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/roles" routerLinkActive="active"> 
            Roles
          </a>
        </li>
        <li class="nav-item" *ngIf="canAccess(['view_products','edit_products'])">
          <a class="nav-link" routerLink="/products" routerLinkActive="active"> 
            Products
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders" routerLinkActive="active"> 
            Orders
          </a>
        </li>
      </ul>
    </div>
  </nav>